# Python cache
*.pyc
__pycache__/

# IDEA
.idea/

# Virtual environments
env/
venv/

# Private environment variables
.env

# Datasets
datasets/

# Jupyter Notebook
.ipynb_checkpoints/

# Tensorboard
training_logs/

# Other
random_tests/